@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Roboto', sans-serif;
}

.banner{
    background: rgb(0,0,0);
background: linear-gradient(99deg, rgba(0,0,0,1) 38%, rgba(96,95,95,0.9010197829131653) 100%);

}